In [1]:
from Notebook.DSNotebook.NotebookExecutor import NotebookExecutor
nb = NotebookExecutor()
df = nb.get_data('11111707390804200', '@SYS.USERID', 'True', {}, [])
df
# The first function parameter refers to the service ID of the dataset.
# @SYS.USERID refers to the user ID of the current user.
# If the Sandbox key is 'false', it is referred to as a dataset, and if it's 'true', then the file is a sandbox file.
# {} refers to the filters applied to the dataset.
# [] refers to the data preparations applied to the dataset.
# After [], users can specify the number of rows to limit the headcount of the dataset with a comma separator.

     sex  length  diameter  height  weight_whole  weight_shucked  weight_viscera  weight_shell  rings
0      M   0.455     0.365   0.095        0.5140          0.2245          0.1010        0.1500     15
1      M   0.350     0.265   0.090        0.2255          0.0995          0.0485        0.0700      7
2      F   0.530     0.420   0.135        0.6770          0.2565          0.1415        0.2100      9
3      M   0.440     0.365   0.125        0.5160          0.2155          0.1140        0.1550     10
4      I   0.330     0.255   0.080        0.2050          0.0895          0.0395        0.0550      7
...   ..     ...       ...     ...           ...             ...             ...           ...    ...
4172   F   0.565     0.450   0.165        0.8870          0.3700          0.2390        0.2490     11
4173   M   0.590     0.440   0.135        0.9660          0.4390          0.2145        0.2605     10
4174   M   0.600     0.475   0.205        1.1760          0.5255          0.2875        0.3080      9
4175   F   0.625     0.485   0.150        1.0945          0.5310          0.2610        0.2960     10
4176   M   0.710     0.555   0.195        1.9485          0.9455          0.3765        0.4950     12

[4177 rows x 9 columns]

In [3]:
from Notebook.DSNotebook.NotebookExecutor import NotebookExecutor
nb = NotebookExecutor()
nb.oracle_writer('qauser', 'qauser_123', 'bdboracle.c9lo3db08qkg.ap-south-1.rds.amazonaws.com', '1521', 'ORCL', 'Oracle_Append_Test_v1', df)

Dataframe has been written to database.

In [0]:
from Notebook.DSNotebook.NotebookExecutor import NotebookExecutor
nb = NotebookExecutor()
df_Doha_Data = nb.get_data('11111707978183523', '@SYS.USERID', 'True', {}, [])
df_Doha_Data
# The first function parameter refers to the service ID of the dataset.
# @SYS.USERID refers to the user ID of the current user.
# If the Sandbox key is 'false', it is referred to as a dataset, and if it's 'true', then the file is a sandbox file.
# {} refers to the filters applied to the dataset.
# [] refers to the data preparations applied to the dataset.
# After [], users can specify the number of rows to limit the headcount of the dataset with a comma separator.

         SCHOOL_YEAR  STUDENT_ID           student_name teacher_id          teacher_name  term_id term_name  ASSESSMENT_ID                                   subject                     category     GRADE SCORE_VALUE CALCULATED_SCORE_VALUE  CALCULATED_SCORE PROFICIENCY_LEVEL
0               2012       13322       Stirling, Elorie        S15     Teacher15_Grade11       10        S2            334                             IB Admin Yr 1            NON_CREDIT_COURSE  Grade 11           0                    0.0               0.0              Poor
1               2013       13551           Choi, Sehoan        S17      Teacher17_Grade9        9        S1            339                                Study Hall            NON_CREDIT_COURSE   Grade 9           0                    0.0               0.0              Poor
2               2013       13558  Giselle, Hidalgo Rios        S19     Teacher19_Grade11        9        S1            339                                Study Hall            NON_CREDIT_COURSE  Grade 11           0                    0.0               0.0              Poor
3               2013       13577           Sadek, Farah        S17      Teacher17_Grade9        9        S1           1020                                      Math                         MATH   Grade 9           0                    0.0               0.0              Poor
4               2013       13577           Sadek, Farah        S17      Teacher17_Grade9        9        S1           1218                                        PE  PHYSICAL EDUCATION & HEALTH   Grade 9           0                    0.0               0.0              Poor
...              ...         ...                    ...        ...                   ...      ...       ...            ...                                       ...                          ...       ...         ...                    ...               ...               ...
1586456         2016        6695      Kohinga, Isabelle      S1903  Alexis,Avissa Samari        4        Q1             87  MAP-Math-Real and Complex Number Systems                           \N   Grade 7         249                  249.0               4.0          Advanced
1586457         2016        6695      Kohinga, Isabelle      S1903  Alexis,Avissa Samari        4        Q1             88       MAP-Math-Statistics and Probability                           \N   Grade 7         254                  254.0               4.0          Advanced
1586458         2016        6695      Kohinga, Isabelle      S1903  Alexis,Avissa Samari        4        Q1             91            MAP-Reading-Informational Text                           \N   Grade 7         245                  245.0               4.0          Advanced
1586459         2016        6695      Kohinga, Isabelle      S1903  Alexis,Avissa Samari        4        Q1             96                    MAP-Reading-Literature                           \N   Grade 7         242                  242.0               4.0          Advanced
1586460         2016        6695      Kohinga, Isabelle      S1903  Alexis,Avissa Samari       11        Y1             91            MAP-Reading-Informational Text                           \N   Grade 7         235                  235.0               4.0          Advanced

[1586461 rows x 15 columns]

In [1]:
from Notebook.DSNotebook.NotebookExecutor import NotebookExecutor
nb = NotebookExecutor()
df_list = [df_Doha_Data]
for df in df_list:
    # Write each DataFrame to MySQL database
     nb.oracle_writer('qauser', 'qauser_123', 'bdboracle.c9lo3db08qkg.ap-south-1.rds.amazonaws.com', '1521', 'ORCL', 'Oracle_Append_1.6M_v1', df)

Exception: (cx_Oracle.DatabaseError) DPI-1015: array size of 1586461 is too large
[SQL: INSERT INTO "Oracle_Append_1.6M_v1" ("SCHOOL_YEAR", "STUDENT_ID", student_name, teacher_id, teacher_name, term_id, term_name, "ASSESSMENT_ID", subject, category, "GRADE", "SCORE_VALUE", "CALCULATED_SCORE_VALUE", "CALCULATED_SCORE", "PROFICIENCY_LEVEL") VALUES (:SCHOOL_YEAR, :STUDENT_ID, :student_name, :teacher_id, :teacher_name, :term_id, :term_name, :ASSESSMENT_ID, :subject, :category, :GRADE, :SCORE_VALUE, :CALCULATED_SCORE_VALUE, :CALCULATED_SCORE, :PROFICIENCY_LEVEL)]
[parameters: [{'SCHOOL_YEAR': 2012, 'STUDENT_ID': 13322, 'student_name': 'Stirling, Elorie', 'teacher_id': 'S15', 'teacher_name': 'Teacher15_Grade11', 'term_id': 10, 'term_name': 'S2', 'ASSESSMENT_ID': 334, 'subject': 'IB Admin Yr 1', 'category': 'NON_CREDIT_COURSE', 'GRADE': 'Grade 11', 'SCORE_VALUE': '0', 'CALCULATED_SCORE_VALUE': 0.0, 'CALCULATED_SCORE': Decimal('0E-9'), 'PROFICIENCY_LEVEL': 'Poor'}, {'SCHOOL_YEAR': 2013, 'STUDENT_ID': 13551, 'student_name': 'Choi, Sehoan', 'teacher_id': 'S17', 'teacher_name': 'Teacher17_Grade9', 'term_id': 9, 'term_name': 'S1', 'ASSESSMENT_ID': 339, 'subject': 'Study Hall', 'category': 'NON_CREDIT_COURSE', 'GRADE': 'Grade 9', 'SCORE_VALUE': '0', 'CALCULATED_SCORE_VALUE': 0.0, 'CALCULATED_SCORE': Decimal('0E-9'), 'PROFICIENCY_LEVEL': 'Poor'}, {'SCHOOL_YEAR': 2013, 'STUDENT_ID': 13558, 'student_name': 'Giselle, Hidalgo Rios', 'teacher_id': 'S19', 'teacher_name': 'Teacher19_Grade11', 'term_id': 9, 'term_name': 'S1', 'ASSESSMENT_ID': 339, 'subject': 'Study Hall', 'category': 'NON_CREDIT_COURSE', 'GRADE': 'Grade 11', 'SCORE_VALUE': '0', 'CALCULATED_SCORE_VALUE': 0.0, 'CALCULATED_SCORE': Decimal('0E-9'), 'PROFICIENCY_LEVEL': 'Poor'}, {'SCHOOL_YEAR': 2013, 'STUDENT_ID': 13577, 'student_name': 'Sadek, Farah', 'teacher_id': 'S17', 'teacher_name': 'Teacher17_Grade9', 'term_id': 9, 'term_name': 'S1', 'ASSESSMENT_ID': 1020, 'subject': 'Math', 'category': 'MATH', 'GRADE': 'Grade 9', 'SCORE_VALUE': '0', 'CALCULATED_SCORE_VALUE': 0.0, 'CALCULATED_SCORE': Decimal('0E-9'), 'PROFICIENCY_LEVEL': 'Poor'}, {'SCHOOL_YEAR': 2013, 'STUDENT_ID': 13577, 'student_name': 'Sadek, Farah', 'teacher_id': 'S17', 'teacher_name': 'Teacher17_Grade9', 'term_id': 9, 'term_name': 'S1', 'ASSESSMENT_ID': 1218, 'subject': 'PE', 'category': 'PHYSICAL EDUCATION & HEALTH', 'GRADE': 'Grade 9', 'SCORE_VALUE': '0', 'CALCULATED_SCORE_VALUE': 0.0, 'CALCULATED_SCORE': Decimal('0E-9'), 'PROFICIENCY_LEVEL': 'Poor'}, {'SCHOOL_YEAR': 2013, 'STUDENT_ID': 13547, 'student_name': 'Pastor, Rocio Alejandra', 'teacher_id': 'S19', 'teacher_name': 'Teacher19_Grade11', 'term_id': 9, 'term_name': 'S1', 'ASSESSMENT_ID': 339, 'subject': 'Study Hall', 'category': 'NON_CREDIT_COURSE', 'GRADE': 'Grade 11', 'SCORE_VALUE': '0', 'CALCULATED_SCORE_VALUE': 0.0, 'CALCULATED_SCORE': Decimal('0E-9'), 'PROFICIENCY_LEVEL': 'Poor'}, {'SCHOOL_YEAR': 2013, 'STUDENT_ID': 13577, 'student_name': 'Sadek, Farah', 'teacher_id': 'S17', 'teacher_name': 'Teacher17_Grade9', 'term_id': 9, 'term_name': 'S1', 'ASSESSMENT_ID': 1260, 'subject': 'World Language', 'category': 'WORLD LANGUAGES', 'GRADE': 'Grade 9', 'SCORE_VALUE': '0', 'CALCULATED_SCORE_VALUE': 0.0, 'CALCULATED_SCORE': Decimal('0E-9'), 'PROFICIENCY_LEVEL': 'Poor'}, {'SCHOOL_YEAR': 2013, 'STUDENT_ID': 13577, 'student_name': 'Sadek, Farah', 'teacher_id': 'S17', 'teacher_name': 'Teacher17_Grade9', 'term_id': 9, 'term_name': 'S1', 'ASSESSMENT_ID': 548, 'subject': 'English', 'category': 'ENGLISH', 'GRADE': 'Grade 9', 'SCORE_VALUE': '0', 'CALCULATED_SCORE_VALUE': 0.0, 'CALCULATED_SCORE': Decimal('0E-9'), 'PROFICIENCY_LEVEL': 'Poor'}  ... displaying 10 of 1586461 total bound parameter sets ...  {'SCHOOL_YEAR': 2016, 'STUDENT_ID': 6695, 'student_name': 'Kohinga, Isabelle', 'teacher_id': 'S1903', 'teacher_name': 'Alexis,Avissa Samari', 'term_id': 4, 'term_name': 'Q1', 'ASSESSMENT_ID': 96, 'subject': 'MAP-Reading-Literature', 'category': '\\N', 'GRADE': 'Grade 7', 'SCORE_VALUE': 242, 'CALCULATED_SCORE_VALUE': 242.0, 'CALCULATED_SCORE': Decimal('4.000000000'), 'PROFICIENCY_LEVEL': 'Advanced'}, {'SCHOOL_YEAR': 2016, 'STUDENT_ID': 6695, 'student_name': 'Kohinga, Isabelle', 'teacher_id': 'S1903', 'teacher_name': 'Alexis,Avissa Samari', 'term_id': 11, 'term_name': 'Y1', 'ASSESSMENT_ID': 91, 'subject': 'MAP-Reading-Informational Text', 'category': '\\N', 'GRADE': 'Grade 7', 'SCORE_VALUE': 235, 'CALCULATED_SCORE_VALUE': 235.0, 'CALCULATED_SCORE': Decimal('4.000000000'), 'PROFICIENCY_LEVEL': 'Advanced'}]]
(Background on this error at: https://sqlalche.me/e/20/4xp6)

In [3]:
from Notebook.DSNotebook.NotebookExecutor import NotebookExecutor
nb = NotebookExecutor()

# Calculate the total number of rows in the DataFrame
total_rows = len(df_Doha_Data)

# Define the batch size
batch_size = 5000

# Calculate the number of batches
num_batches = (total_rows // batch_size) + (1 if total_rows % batch_size != 0 else 0)

# Iterate over the DataFrame in batches
for batch_num in range(num_batches):
    # Calculate the start and end indices of the current batch
    start_idx = batch_num * batch_size
    end_idx = min((batch_num + 1) * batch_size, total_rows)
    
    # Extract the current batch DataFrame
    batch_df = df_Doha_Data.iloc[start_idx:end_idx]
    
    # Write the current batch DataFrame to MySQL database
    nb.oracle_writer('qauser', 'qauser_123', 'bdboracle.c9lo3db08qkg.ap-south-1.rds.amazonaws.com', '1521', 'ORCL', 'Oracle_Append_1.6M_v1', batch_df)

Dataframe has been written to database.
Dataframe has been written to database.
Dataframe has been written to database.
Dataframe has been written to database.
Dataframe has been written to database.
Dataframe has been written to database.
Dataframe has been written to database.
Dataframe has been written to database.
Dataframe has been written to database.
Dataframe has been written to database.
Dataframe has been written to database.
Dataframe has been written to database.
Dataframe has been written to database.

Exception: expecting number