In [ ]:
def abc():
    return "1"

In [ ]:
def cdef():
    return "2"

In [1]:
from Notebook.DSNotebook.NotebookExecutor import NotebookExecutor
nb = NotebookExecutor()
df_Mig_test_sandbox = nb.get_data('11111705294904516', '@SYS.USERID', 'True', {}, [])
df_Mig_test_sandbox

       age     workclass  fnlwgt     education  educational-num      marital-status         occupation relationship   race  gender  capital-gain  capital-loss  hours-per-week native-country income
0       25       Private  226802          11th                7       Never-married  Machine-op-inspct    Own-child  Black    Male             0             0              40  United-States  <=50K
1       38       Private   89814       HS-grad                9  Married-civ-spouse    Farming-fishing      Husband  White    Male             0             0              50  United-States  <=50K
2       28     Local-gov  336951    Assoc-acdm               12  Married-civ-spouse    Protective-serv      Husband  White    Male             0             0              40  United-States   >50K
3       44       Private  160323  Some-college               10  Married-civ-spouse  Machine-op-inspct      Husband  Black    Male          7688             0              40  United-States   >50K
4       18             ?  103497  Some-college               10       Never-married                  ?    Own-child  White  Female             0             0              30  United-States  <=50K
...    ...           ...     ...           ...              ...                 ...                ...          ...    ...     ...           ...           ...             ...            ...    ...
48837   27       Private  257302    Assoc-acdm               12  Married-civ-spouse       Tech-support         Wife  White  Female             0             0              38  United-States  <=50K
48838   40       Private  154374       HS-grad                9  Married-civ-spouse  Machine-op-inspct      Husband  White    Male             0             0              40  United-States   >50K
48839   58       Private  151910       HS-grad                9             Widowed       Adm-clerical    Unmarried  White  Female             0             0              40  United-States  <=50K
48840   22       Private  201490       HS-grad                9       Never-married       Adm-clerical    Own-child  White    Male             0             0              20  United-States  <=50K
48841   52  Self-emp-inc  287927       HS-grad                9  Married-civ-spouse    Exec-managerial         Wife  White  Female         15024             0              40  United-States   >50K

[48842 rows x 15 columns]

In [0]:
from Notebook.DSNotebook.NotebookExecutor import NotebookExecutor
nb = NotebookExecutor()
df_DS_CLickHouse_test = nb.get_data('11111705296274056', '@SYS.USERID', 'False', {}, [])
df_DS_CLickHouse_test

         App   Branch_Id  Commission Customer_Id Day_Name                                           Feedback        Holiday           Order_Date   Order_Id        Order_Item Order_Type Payment_Mode  Price  Quantity  Rating Restaurant_Name  Tax  Total_Amount
0         NA  LGGurugram           0     C902658   Sunday             Memorabledessertsserviceresponsiveness  Vijayadashami  2023-09-10 10:25:17  LGGM82546      ChickenPasta   TakeAway          UPI    299         1       2      LeonsGrill   18           299
1     Zomato  LGGurugram          20     C759966   Sunday                      Culinaryjourneylimitedchoices  Vijayadashami  2023-09-10 12:47:20  LGGM58119       CaesarSalad     Online         Cash    199         1       4      LeonsGrill   18           199
2         NA  LGGurugram           0     C223688   Sunday  Therestauranthadaniceatmospherebutthefooddidnt...  Vijayadashami  2023-09-10 22:12:43  LGGM31892      ChickenPasta     Dinein         Cash    299         1       3      LeonsGrill   18           299
3         NA  LGGurugram           0     C383065   Sunday                    Flavorfuloptionsflavoradventure  Vijayadashami  2023-09-10 07:29:29  LGGM23243  MozzarellaSticks     Dinein         Cash    199         2       3      LeonsGrill   18           398
4         NA  LGGurugram           0     C609206   Sunday                  Tastespectrumserviceinconsistency  Vijayadashami  2023-09-10 12:33:18  LGGM85496       CaesarSalad     Dinein          UPI    199         2       3      LeonsGrill   18           398
...      ...         ...         ...         ...      ...                                                ...            ...                  ...        ...               ...        ...          ...    ...       ...     ...             ...  ...           ...
1205      NA  LGGurugram           0     C066915   Sunday                                      Politeservice  Vijayadashami  2023-09-10 11:36:14  LGGM70662      ChickenPasta     Dinein         Cash    299         3       3      LeonsGrill   18           897
1206  Zomato  LGGurugram          20     C570299   Sunday                     Flavorfuldishesmixedexperience  Vijayadashami  2023-09-10 01:12:52  LGGM88194      ChickenPasta     Online          UPI    299         2       4      LeonsGrill   18           598
1207  Zomato  LGGurugram          20     C717221   Sunday  ThisrestaurantknowshowtotreatitscustomersThefo...  Vijayadashami  2023-09-10 16:29:33  LGGM11385          IceCream     Online         Card    149         1       4      LeonsGrill   18           149
1208      NA  LGGurugram           0     C327361   Sunday                         Uniqueofferingsslowservice  Vijayadashami  2023-09-10 11:42:02  LGGM29092      ChickenPasta     Dinein         Cash    299         3       4      LeonsGrill   18           897
1209  Zomato  LGGurugram          20     C519386   Sunday                                   Inventiveattempt  Vijayadashami  2023-09-10 08:39:50  LGGM55590        GulabJamun     Online         Cash     30         1       4      LeonsGrill   18            30

[1210 rows x 18 columns]