In [1]:
#Import required libraries
import pandas as pd
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression
import pickle
def SklearnModelInference():
    #Access data
    url = "https://raw.githubusercontent.com/jbrownlee/Datasets/master/pima-indians-diabetes.data.csv"
    names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
    dataframe = pd.read_csv(url, names=names)
    
    #Create test and train data
    array = dataframe.values
    X = array[:,0:8]
    Y = array[:,8]
    test_size = 0.33
    seed = 7
    X_train, X_test, Y_train, Y_test = model_selection.train_test_split(X, Y, test_size=test_size, random_state=seed)
    
    #Load the DS Lab model
    from Notebook.DSNotebook.NotebookExecutor import NotebookExecutor
    nb = NotebookExecutor()
    loaded_model = nb.load_saved_model('11121674207581238')
    
    #Sklearn Predict function (Native)
    Predictions = loaded_model.predict(X_test)
    
    #Get predicted output
    df_test = pd.DataFrame(X_test, columns = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age'])
    df_test['Predictions'] = Predictions
    return df_test

In [2]:
SklearnModelInference()

     preg   plas  pres  skin   test  mass   pedi   age  Predictions
0     1.0   90.0  62.0  12.0   43.0  27.2  0.580  24.0          0.0
1     7.0  181.0  84.0  21.0  192.0  35.9  0.586  51.0          1.0
2    13.0  152.0  90.0  33.0   29.0  26.8  0.731  43.0          0.0
3     6.0   93.0  50.0  30.0   64.0  28.7  0.356  23.0          0.0
4     6.0  125.0  78.0  31.0    0.0  27.6  0.565  49.0          0.0
..    ...    ...   ...   ...    ...   ...    ...   ...          ...
249   9.0   57.0  80.0  37.0    0.0  32.8  0.096  41.0          0.0
250   1.0  103.0  80.0  11.0   82.0  19.4  0.491  22.0          0.0
251   4.0  118.0  70.0   0.0    0.0  44.5  0.904  26.0          0.0
252   7.0  152.0  88.0  44.0    0.0  50.0  0.337  36.0          0.0
253   7.0  168.0  88.0  42.0  321.0  38.2  0.787  40.0          1.0

[254 rows x 9 columns]