In [10]:
from Notebook.DSNotebook.NotebookExecutor import NotebookExecutor
nb = NotebookExecutor()
df = nb.get_data('17171692941396512', '@SYS.USERID', 'True', {}, [])
df1.head(12)

Exception: 'queryService'

#New

In [ ]:
#Changes in the GIT version are updated and ready to push.

In [6]:
import pandas as shyam
from time import perf_counter as get_time
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, classification_report

# Define the necessary variables here
_data   = df   # pd.DataFrame: Full data to process
_target = 'sex'    # string: Column name of the target variable

if _data is None or _target is None:
    raise Exception(f'Both _data and _target must be specified')
elif not (isinstance(_data, pd.DataFrame) and isinstance(_target, str)):
    raise Exception(f'Datatype of _data must be pd.DataFrame; that of _target must be str')

# Separating the independent and dependent variables into X and y respectively
y = _data[_target]
X = _data.drop(columns=_target)
print(f'Shape of complete data: {_data.shape}')

# Splitting the dataset into training and testing datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)
print(f'Shape of training data: {X_train.shape}')
print(f'Shape of testing data : {X_test.shape}')

# Creating the classifier and fitting it to the training data
knn_clf = KNeighborsClassifier()
time_now = get_time()
knn_clf.fit(X_train, y_train);
print(f'Model {knn_clf} trained')
print(f'Seconds elapsed: {round(get_time() - time_now, 3)}')

# Making predictions on the training data
predict_train = knn_clf.predict(X_train)
print(f'Predictions on training data made')

# Finding the accuracy score of the training predictions
accuracy_train = accuracy_score(y_train, predict_train)
print(f'Accuracy score of training predictions: {round(accuracy_train, 3)}')

# Printing the classification report of the training predictions
report_train = classification_report(y_train, predict_train, digits=3)
print(f'Classification report of training predictions:')
print(report_train)

# Making predictions on the testing data
predict_test = knn_clf.predict(X_test)
print(f'Predictions on testing data made')

# Finding the accuracy score of the testing predictions
accuracy_test = accuracy_score(y_test, predict_test)
print(f'Accuracy score of testing predictions: {round(accuracy_test, 3)}')

# Printing the classification report of the testing predictions
report_test = classification_report(y_test, predict_test, digits=3)
print(f'Classification report of testing predictions:')
print(report_test)

NameError: name 'df' is not defined

In [7]:
from Notebook.DSNotebook.NotebookExecutor import NotebookExecutor
nb = NotebookExecutor()
saved_model = nb.save_model(model = knn_clf, modelName = 'KNN Classifier_V1.dill', modelType = 'ml', X = None, y = None, estimator_type='')
#X and y are training datasets to get explainer dashboard.
#estimator_type is to specify algorithm type i.e., classification and regression.
#Only 'ml’ models with tabular data as input will support in Explainer Dashboard.
#Choose modelType = 'ml' for machine learning models, modelType = 'cv' for computer vision models and modelType = 'dp' for data transformation pickle files. 
#Provide ‘column_headers’ as a parameter if they have to be saved in the model.
#If using custom layer in keras, use native save functionality from keras.

NameError: name 'knn_clf' is not defined

In [ ]:
def AB_In():
    from Notebook.DSNotebook.NotebookExecutor import NotebookExecutor
    nb = NotebookExecutor()
    df = nb.get_data('17171692941396512', '@SYS.USERID', 'True', {}, [])
    column_to_drop = 'sex'
    df_test = df.drop(columns=[column_to_drop])
    return df_test

In [ ]:
AB_In()

In [ ]:
import logging

In [ ]:
logging.info("test")

In [6]:
from Notebook.DSNotebook.NotebookExecutor import NotebookExecutor
nb = NotebookExecutor()
df_Dump_Again = nb.get_data('11561698320754285', '@SYS.USERID', 'True', {}, [])
df_Dump_Again.head()

         App      Branch_Id  Commission Customer_Id   Day_Name                                           Feedback Holiday        Order_Date      Order_Id        Order_Item Order_Type Payment_Mode  Price  Quantity  Rating Restaurant_Name  Tax  Total_Amount
0        NaN      LG-Mumbai           0     C246575  Wednesday  The restaurant had an elegant decor, but the w...     NaN  04-05-2023 15:57  LG-MUM-98055      Caesar Salad    Dine-in         Card    199         3       4    Leon's Grill   18           597
1        NaN     LG-Chennai           0     C188759   Saturday                                Courteous Approach.     NaN  01-07-2023 19:43   LG-CH-30883      Spring Rolls    Dine-in         Card    149         3       3    Leon's Grill   18           447
2     Zomato     LG-Chennai          20     C215088  Wednesday                Flavorful dishes, flavor diversity.     NaN   5/17/2023 20:28   LG-CH-62184  Margherita Pizza     Online          UPI    299         3       4    Leon's Grill   18           897
3     Swiggy  LG-Whitefield          21     C678454    Tuesday                                    Prompt service.     NaN    8/29/2023 8:13  LG-WTF-10032      Spring Rolls     Online         Card    149         3       3    Leon's Grill   18           447
4  Uber Eats      LG-Mumbai          23     C362169     Sunday                                   Courteous staff.     NaN   4/30/2023 13:29  LG-MUM-48641  Margherita Pizza     Online         Card    299         2       2    Leon's Grill   18           598

In [18]:
chdir(@SYS.DATASANDBOX_PATH + '34930693/Repo')

In [19]:
getcwd()

'@SYS.DATASANDBOX_PATH/34930693/Repo'

In [20]:
df_Dump_Again.to_csv("New.csv")

In [17]:
pd.read_csv(@SYS.DATASANDBOX_PATH + '34930693/Data/New.csv')

       Unnamed: 0        App      Branch_Id  Commission Customer_Id   Day_Name                                           Feedback        Holiday        Order_Date      Order_Id             Order_Item Order_Type Payment_Mode  Price  Quantity  Rating Restaurant_Name  Tax  Total_Amount
0               0        NaN      LG-Mumbai           0     C246575  Wednesday  The restaurant had an elegant decor, but the w...            NaN  04-05-2023 15:57  LG-MUM-98055           Caesar Salad    Dine-in         Card    199         3       4    Leon's Grill   18           597
1               1        NaN     LG-Chennai           0     C188759   Saturday                                Courteous Approach.            NaN  01-07-2023 19:43   LG-CH-30883           Spring Rolls    Dine-in         Card    149         3       3    Leon's Grill   18           447
2               2     Zomato     LG-Chennai          20     C215088  Wednesday                Flavorful dishes, flavor diversity.            NaN   5/17/2023 20:28   LG-CH-62184       Margherita Pizza     Online          UPI    299         3       4    Leon's Grill   18           897
3               3     Swiggy  LG-Whitefield          21     C678454    Tuesday                                    Prompt service.            NaN    8/29/2023 8:13  LG-WTF-10032           Spring Rolls     Online         Card    149         3       3    Leon's Grill   18           447
4               4  Uber Eats      LG-Mumbai          23     C362169     Sunday                                   Courteous staff.            NaN   4/30/2023 13:29  LG-MUM-48641       Margherita Pizza     Online         Card    299         2       2    Leon's Grill   18           598
...           ...        ...            ...         ...         ...        ...                                                ...            ...               ...           ...                    ...        ...          ...    ...       ...     ...             ...  ...           ...
10095       10095     Zomato  LG-HSR Layout          20     C978879     Friday                                  Flavor adventure.            NaN  06-09-2023 15:51  LG-HSR-52539           Spring Rolls     Online         Card    149         2       2    Leon's Grill   18           298
10096       10096        NaN   LG-New Delhi           0     C209818   Thursday           Unique offerings, service inconsistency.            NaN   8/17/2023 22:28   LG-ND-15521       Margherita Pizza    Dine-in         Card    299         1       4    Leon's Grill   18           299
10097       10097     Zomato   LG-Ahmedabad          20     C948997     Monday                 Memorable desserts, service delay.            NaN    1/30/2023 3:05  LG-AHD-52328        Peri Peri Wings     Online          UPI    199         3       3    Leon's Grill   18           597
10098       10098        NaN  LG-Chandigarh           0     C221815  Wednesday                   Exciting menu, portion concerns.            NaN    2/15/2023 0:56  LG-CHD-20057  Chicken Shawarma Wrap  Take Away          UPI    225         1       3    Leon's Grill   18           225
10099       10099        NaN     LG-Chennai           0     C644909     Sunday                  Flavorful dishes, small portions.  Vijayadashami  09-10-2023 20:04   LG-CH-47585                  Salad  Take Away         Card    175         2       4    Leon's Grill   18           350

[10100 rows x 19 columns]

In [9]:
from Notebook.DSNotebook.NotebookExecutor import NotebookExecutor
nb = NotebookExecutor()
#File extension should be with .csv/.json/.txt
nb.save_artifact(dataframe = df_Dump_Again, name = 'df_Dump_Again_V1.csv')

In [ ]:
@SYS.DATASANDBOX_PATH + '34930693/Data'

In [1]:
from os import *

In [10]:
listdir()

['1156', 'New.csv', 'df_Dump_Again.csv', 'df_Dump_Again_V1.csv']

In [11]:
getcwd()

'/home/jovyan/work'

In [ ]:
a = @SYS.DATASANDBOX_PATH + '34930693'

In [ ]:
a