# Model fitting & training

In [1]:
#sklearn train model new_V888 
import pandas as pds
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
import pickle as pkle
url = "https://raw.githubusercontent.com/jbrownlee/Datasets/master/pima-indians-diabetes.data.csv"
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
dataframe = pd.read_csv(url, names=names)
array = dataframe.values
X = array[:,0:8]
Y = array[:,8]
test_size = 0.33
seed = 136
X_train, X_test, Y_train, Y_test = model_selection.train_test_split(X, Y, test_size=test_size, random_state=seed)
model = MultinomialNB()
model.fit(X_train, Y_train);

# Model Save

In [2]:
from Notebook.DSNotebook.NotebookExecutor import NotebookExecutor
nb = NotebookExecutor()
saved_model = nb.save_model(model = model, modelName = 'Model_V1', modelType = 'ml', X = None, y = None, estimator_type='')
#X and y are training datasets to get explainer dashboard.
#estimator_type is to specify algorithm type i.e., classification and regression.
#Only 'ml’ models with tabular data as input will support in Explainer Dashboard.
#Choose modelType = 'ml' for machine learning models, modelType = 'cv' for computer vision models and modelType = 'dp' for data transformation pickle files. 
#Provide ‘column_headers’ as a parameter if they have to be saved in the model.
#If using custom layer in keras, use native save functionality from keras.

WARN: Training data is not provided. Unable to generate Explainer Dashboard

# Model Load

In [3]:
from Notebook.DSNotebook.NotebookExecutor import NotebookExecutor
nb = NotebookExecutor()
loaded_model = nb.load_saved_model('11561706704411977')

In [4]:
X_test_copy = X_test.copy()

# Model Predict

In [5]:
nb.predict(model = loaded_model, dataframe = X_test_copy, modeltype='ml') 
 #Choose modeltype 'ml' for machine learning models and 'cv' for computer vision model 
 #ex: For machine learning model nb.predict(model = model, modeltype = 'ml', dataframe = df) 
 #ex: For computer vision keras model nb.predict(model = model, modeltype = 'cv', imgs = imgs, imgsize = (28, 28), dim = 1, class_names = class_names) 
 #and for pytorch model(model = model, modeltype = 'cv', imgs = imgs, class_names = class_names) 
 #Note: incase any error in prediction user squeezed image data in keras

        0      1     2     3      4     5      6     7  predictions
0     2.0  174.0  88.0  37.0  120.0  44.5  0.646  24.0          1.0
1     2.0  155.0  52.0  27.0  540.0  38.7  0.240  25.0          1.0
2     0.0   94.0  70.0  27.0  115.0  43.5  0.347  21.0          1.0
3     4.0  109.0  64.0  44.0   99.0  34.8  0.905  26.0          1.0
4     1.0   97.0  68.0  21.0    0.0  27.2  1.095  22.0          0.0
..    ...    ...   ...   ...    ...   ...    ...   ...          ...
249   5.0  115.0  98.0   0.0    0.0  52.9  0.209  28.0          0.0
250  10.0  108.0  66.0   0.0    0.0  32.4  0.272  42.0          0.0
251   2.0   92.0  52.0   0.0    0.0  30.1  0.141  22.0          0.0
252   8.0  197.0  74.0   0.0    0.0  25.9  1.191  39.0          0.0
253   3.0   78.0  70.0   0.0    0.0  32.5  0.270  39.0          0.0

[254 rows x 9 columns]

In [6]:
X_test_copy = X_test.copy()

In [7]:
Y_pred = nb.predict(model = loaded_model, dataframe = X_test_copy, modeltype='ml')

In [8]:
Y_pred.head()

     0      1     2     3      4     5      6     7  predictions
0  2.0  174.0  88.0  37.0  120.0  44.5  0.646  24.0          1.0
1  2.0  155.0  52.0  27.0  540.0  38.7  0.240  25.0          1.0
2  0.0   94.0  70.0  27.0  115.0  43.5  0.347  21.0          1.0
3  4.0  109.0  64.0  44.0   99.0  34.8  0.905  26.0          1.0
4  1.0   97.0  68.0  21.0    0.0  27.2  1.095  22.0          0.0

In [9]:
from sklearn.metrics import accuracy_score
accuracy_score(Y_test, Y_pred.predictions)

0.6023622047244095

# Sandbox file read

In [10]:
from Notebook.DSNotebook.NotebookExecutor import NotebookExecutor
nb = NotebookExecutor()
df_Test_Data = nb.get_data('11561706704926924', '@SYS.USERID', 'True', {}, [])
df_Test_Data.head()

   SNo ObservationDate Province/State  Country/Region      Last Update  Confirmed  Deaths  Recovered
0    1      01/22/2020          Anhui  Mainland China  1/22/2020 17:00          1       0          0
1    2      01/22/2020        Beijing  Mainland China  1/22/2020 17:00         14       0          0
2    3      01/22/2020      Chongqing  Mainland China  1/22/2020 17:00          6       0          0
3    4      01/22/2020         Fujian  Mainland China  1/22/2020 17:00          1       0          0
4    5      01/22/2020          Gansu  Mainland China  1/22/2020 17:00          0       0          0

# Artifacts file save

In [11]:
from Notebook.DSNotebook.NotebookExecutor import NotebookExecutor
nb = NotebookExecutor()
#File extension should be with .csv/.json/.txt
nb.save_artifact(dataframe = df_Test_Data, name = 'df_Test_Data.txt')

# Artifacts saved file read

In [12]:
@SYS.ARTIFACT_PATH+'df_Test_Data.txt'

'@SYS.DATASANDBOX_PATH/df_Test_Data.txt'

In [17]:
# print(open(@SYS.ARTIFACT_PATH+'df_Test_Data.txt').read())
num_bytes_to_read = 1000
with open(@SYS.ARTIFACT_PATH+'df_Test_Data.txt', 'r') as file:
    limited_data = file.read(num_bytes_to_read)
print(limited_data)

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1,0,0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14,0,0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6,0,0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1,0,0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0,0,0
5,6,01/22/2020,Guangdong,Mainland China,1/22/2020 17:00,26,0,0
6,7,01/22/2020,Guangxi,Mainland China,1/22/2020 17:00,2,0,0
7,8,01/22/2020,Guizhou,Mainland China,1/22/2020 17:00,1,0,0
8,9,01/22/2020,Hainan,Mainland China,1/22/2020 17:00,4,0,0
9,10,01/22/2020,Hebei,Mainland China,1/22/2020 17:00,1,0,0
10,11,01/22/2020,Heilongjiang,Mainland China,1/22/2020 17:00,0,0,0
11,12,01/22/2020,Henan,Mainland China,1/22/2020 17:00,5,0,0
12,13,01/22/2020,Hong Kong,Hong Kong,1/22/2020 17:00,0,0,0
13,14,01/22/2020,Hubei,Mainland China,1/22/2020 17:00,444,17,28
14,15,01/22/2020,Hunan,Mainland China,1/22/2020 17:00,4,0,0
1

# Reading uploaded file in forder structure

In [ ]:
@SYS.DATASANDBOX_PATH + '135823364/Data/Folder_V1/Limerick_input_V1.xlsx'

In [19]:
pd.read_excel(@SYS.DATASANDBOX_PATH + '135823364/Data/Folder_V1/Limerick_input_V1.xlsx')

          date  Machine  Mcode  Shift DowntimeDesctiption  DD  DowntimeInHours
0   2021-06-01   901850      1      1                Idle   2         0.850278
1   2021-06-01   901850      1      1               Setup   3         0.000556
2   2021-06-01   901850      1      2                Idle   2         1.929167
3   2021-06-01   901850      1      2               Setup   3         0.034167
4   2021-06-01   901850      1      3                Idle   2         3.436389
..         ...      ...    ...    ...                 ...  ..              ...
277 2021-06-28   903030      2      2               Setup   3         0.002778
278 2021-06-29   901850      1      1                Idle   2         1.397222
279 2021-06-29   901850      1      1               Setup   3         0.001389
280 2021-06-29   903030      2      1                Idle   2         0.188889
281 2021-06-29   903030      2      1               Setup   3         0.005556

[282 rows x 7 columns]

# Utility file read

In [0]:
from Utiity_script_V33 import Person
Future = Person("Shyam", "29")
print(Future.name)
print(Future.age)

Shyam
29

In [1]:
from Utiity_script_V33 import Person
import inspect
source_code = inspect.getsource(Person)
print(source_code)

class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

# Data Transformation save

In [2]:
from sklearn.datasets import make_blobs
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LogisticRegression
from pickle import dump
# prepare dataset
X, y = make_blobs(n_samples=100, centers=2, n_features=2, random_state=1)
# split data into train and test sets
X_train, _, y_train, _ = train_test_split(X, y, test_size=0.33, random_state=1)
# define scaler
scaler = MinMaxScaler()
# fit scaler on the training dataset
scaler.fit(X_train);
# transform the training dataset
X_train_scaled = scaler.transform(X_train)
from Notebook.DSNotebook.NotebookExecutor import NotebookExecutor
nb = NotebookExecutor()
saved_model = nb.save_model(model = scaler, modelName = 'ScalerTransform', modelType = 'dp', X = None, y = None, estimator_type='')
#X and y are training datasets to get explainer dashboard.
#estimator_type is to specify algorithm type i.e., classification and regression.
#Only 'ml’ models with tabular data as input will support in Explainer Dashboard.
#Choose modelType = 'ml' for machine learning models, modelType = 'cv' for computer vision models and modelType = 'dp' for data transformation pickle files. 
#Provide ‘column_headers’ as a parameter if they have to be saved in the model.
#If using custom layer in keras, use native save functionality from keras.

WARN: Training data is not provided. Unable to generate Explainer Dashboard

# Transformation load

In [3]:
from Notebook.DSNotebook.NotebookExecutor import NotebookExecutor
nb = NotebookExecutor()
loaded_model = nb.load_model('11561706705620074')

# Transforming traing data

In [4]:
loaded_model.transform(X_train)

array([[0.23395852, 0.35842125],
       [0.79875321, 0.90133484],
       [0.1727263 , 0.18315143],
       [0.73324478, 0.85530443],
       [0.86490997, 0.81400847],
       [0.84925052, 0.81778689],
       [0.28151464, 0.21503406],
       [0.83890271, 1.        ],
       [0.11768194, 0.25272282],
       [0.15358548, 0.17127067],
       [0.22971925, 0.20538083],
       [0.30388699, 0.27498359],
       [0.17837018, 0.08705392],
       [0.19282048, 0.19950001],
       [0.82758701, 0.78772661],
       [0.18570507, 0.18105428],
       [0.21555452, 0.26981763],
       [0.05071381, 0.23151541],
       [0.19005398, 0.1752731 ],
       [0.79317393, 0.78759208],
       [0.35425701, 0.16953972],
       [0.82689292, 0.88232276],
       [0.81355841, 0.76455675],
       [0.12855764, 0.19135056],
       [0.89624055, 0.78410253],
       [0.84206699, 0.89621938],
       [0.9575363 , 0.89467094],
       [0.80184776, 0.87825451],
       [0.76255514, 0.93428527],
       [0.1826463 , 0.23485323],
       [0.79744376, 0.80734217],
       [1.        , 0.72882744],
       [0.76927084, 0.83614339],
       [0.73459283, 0.92589868],
       [0.83855105, 0.86892497],
       [0.89337759, 0.65864154],
       [0.24377251, 0.21747541],
       [0.25293258, 0.34136975],
       [0.17015267, 0.16581683],
       [0.09781082, 0.25873148],
       [0.14807041, 0.12870764],
       [0.21408907, 0.14046659],
       [0.15146464, 0.10180892],
       [0.76313985, 0.96837513],
       [0.80955751, 0.76904774],
       [0.91505164, 0.75182912],
       [0.32698889, 0.0417588 ],
       [0.19210256, 0.1000778 ],
       [0.94156966, 0.67736192],
       [0.83332236, 0.92471684],
       [0.79571246, 0.84050646],
       [0.19550959, 0.20749043],
       [0.80552738, 0.82155677],
       [0.12501222, 0.        ],
       [0.20498394, 0.16402074],
       [0.2098691 , 0.11486197],
       [0.22023356, 0.24701562],
       [0.21839815, 0.12216597],
       [0.16883584, 0.24175307],
       [0.        , 0.28468564],
       [0.78737153, 0.93208592],
       [0.21482032, 0.19243259],
       [0.84897559, 0.68030412],
       [0.86293838, 0.83126495],
       [0.19870447, 0.22141413],
       [0.14113841, 0.14094497],
       [0.03915974, 0.21326187]])