In [21]:
from Notebook.DSNotebook.NotebookExecutor import NotebookExecutor
nb = NotebookExecutor()
df_Test = nb.get_data('11561697788370591', '@SYS.USERID', 'True', {}, [], None, sparkSession)
df_Test.show()

+-------------+--------+-----------+-----------+----------+----------+--------+---------+------------+------+
|department_id|   email|employee_id| first_name| hire_date|    job_id|testnull|last_name|phone_number|salary|
+-------------+--------+-----------+-----------+----------+----------+--------+---------+------------+------+
|           90|   SKING|       null|     Steven|13-01-1993|   AD_PRES|    null|     King|515.123.4567| 24000|
|           90|NKOCHHAR|       null|      Neena|14-01-1993|     AD_VP|    null|  Kochhar|515.123.4568| 17000|
|           90| LDEHAAN|        102|       Lex |13-01-1993|     AD_VP|    null|  De Haan|515.123.4569| 17000|
|           60| AHUNOLD|        103|  Alexander|03-01-1990|   IT_PROG|    null|   Hunold|590.423.4567|  9000|
|           60|  BERNST|        104|      Bruce|21-05-1991|   IT_PROG|    null|    Ernst|590.423.4568|  6000|
|           60| DAUSTIN|        105|      David|25-06-1997|   IT_PROG|    null|   Austin|590.423.4569|  4800|
|           60|VPATABAL|        106|      Valli|05-02-1998|   IT_PROG|    null|Pataballa|590.423.4560|  4800|
|           60|DLORENTZ|        107|      Diana|07-02-1999|   IT_PROG|    null|  Lorentz|590.423.5567|  4200|
|          100|NGREENBE|        108|      Nancy|17-08-1994|    FI_MGR|    null|Greenberg|515.124.4569| 12000|
|          100| DFAVIET|        109|     Daniel|16-08-1994|FI_ACCOUNT|    null|   Faviet|515.124.4169|  9000|
|          100|   JCHEN|        110|       John|28-09-1997|FI_ACCOUNT|    null|     Chen|515.124.4269|  8200|
|          100|ISCIARRA|        111|     Ismael|30-09-1997|FI_ACCOUNT|    null|  Sciarra|515.124.4369|  7700|
|          100| JMURMAN|        112|Jose Manuel|07-03-1998|FI_ACCOUNT|    null|    Urman|515.124.4469|  7800|
|          100|   LPOPP|        113|       Luis|07-12-1999|FI_ACCOUNT|    null|     Popp|515.124.4567|  6900|
|           30|DRAPHEAL|        114|        Den|07-12-1994|    PU_MAN|    null| Raphaely|515.127.4561| 11000|
|           30|   AKHOO|        115|  Alexander|18-05-1995|  PU_CLERK|    null|     Khoo|515.127.4562|  3100|
|           30|  SBAIDA|        116|     Shelli|24-12-1997|  PU_CLERK|    null|    Baida|515.127.4563|  2900|
|           50| SMARKLE|        128|     Steven|08-03-2000|  ST_CLERK|    null|   Markle|650.124.1434|  2200|
|           50| LBISSOT|        129|      Laura|20-08-1997|  ST_CLERK|    null|   Bissot|650.124.5234|  3300|
|           50|MATKINSO|        130|      Mozhe|30-10-1997|  ST_CLERK|    null| Atkinson|650.124.6234|  2800|
+-------------+--------+-----------+-----------+----------+----------+--------+---------+------------+------+
only showing top 20 rows

In [22]:
from Label_Encoder import label_encoder
import inspect

In [23]:
# Use the inspect module to get the source code of the function
source_code = inspect.getsource(label_encoder)
print(source_code)

def label_encoder(df, input_col, output_col):
    indexer = StringIndexer(inputCol=input_col, outputCol=output_col)
    indexed_df = indexer.fit(df).transform(df)
    return indexed_df

In [24]:
#Define dataframe
df = df_Test

#Use the label encoder function
encoded_df = label_encoder(df, 'job_id', 'job_id_encoded')

#Show the result
encoded_df.show()

+-------------+--------+-----------+-----------+----------+----------+--------+---------+------------+------+--------------+
|department_id|   email|employee_id| first_name| hire_date|    job_id|testnull|last_name|phone_number|salary|job_id_encoded|
+-------------+--------+-----------+-----------+----------+----------+--------+---------+------------+------+--------------+
|           90|   SKING|       null|     Steven|13-01-1993|   AD_PRES|    null|     King|515.123.4567| 24000|          12.0|
|           90|NKOCHHAR|       null|      Neena|14-01-1993|     AD_VP|    null|  Kochhar|515.123.4568| 17000|           8.0|
|           90| LDEHAAN|        102|       Lex |13-01-1993|     AD_VP|    null|  De Haan|515.123.4569| 17000|           8.0|
|           60| AHUNOLD|        103|  Alexander|03-01-1990|   IT_PROG|    null|   Hunold|590.423.4567|  9000|           4.0|
|           60|  BERNST|        104|      Bruce|21-05-1991|   IT_PROG|    null|    Ernst|590.423.4568|  6000|           4.0|
|           60| DAUSTIN|        105|      David|25-06-1997|   IT_PROG|    null|   Austin|590.423.4569|  4800|           4.0|
|           60|VPATABAL|        106|      Valli|05-02-1998|   IT_PROG|    null|Pataballa|590.423.4560|  4800|           4.0|
|           60|DLORENTZ|        107|      Diana|07-02-1999|   IT_PROG|    null|  Lorentz|590.423.5567|  4200|           4.0|
|          100|NGREENBE|        108|      Nancy|17-08-1994|    FI_MGR|    null|Greenberg|515.124.4569| 12000|          13.0|
|          100| DFAVIET|        109|     Daniel|16-08-1994|FI_ACCOUNT|    null|   Faviet|515.124.4169|  9000|           3.0|
|          100|   JCHEN|        110|       John|28-09-1997|FI_ACCOUNT|    null|     Chen|515.124.4269|  8200|           3.0|
|          100|ISCIARRA|        111|     Ismael|30-09-1997|FI_ACCOUNT|    null|  Sciarra|515.124.4369|  7700|           3.0|
|          100| JMURMAN|        112|Jose Manuel|07-03-1998|FI_ACCOUNT|    null|    Urman|515.124.4469|  7800|           3.0|
|          100|   LPOPP|        113|       Luis|07-12-1999|FI_ACCOUNT|    null|     Popp|515.124.4567|  6900|           3.0|
|           30|DRAPHEAL|        114|        Den|07-12-1994|    PU_MAN|    null| Raphaely|515.127.4561| 11000|          18.0|
|           30|   AKHOO|        115|  Alexander|18-05-1995|  PU_CLERK|    null|     Khoo|515.127.4562|  3100|           5.0|
|           30|  SBAIDA|        116|     Shelli|24-12-1997|  PU_CLERK|    null|    Baida|515.127.4563|  2900|           5.0|
|           50| SMARKLE|        128|     Steven|08-03-2000|  ST_CLERK|    null|   Markle|650.124.1434|  2200|           2.0|
|           50| LBISSOT|        129|      Laura|20-08-1997|  ST_CLERK|    null|   Bissot|650.124.5234|  3300|           2.0|
|           50|MATKINSO|        130|      Mozhe|30-10-1997|  ST_CLERK|    null| Atkinson|650.124.6234|  2800|           2.0|
+-------------+--------+-----------+-----------+----------+----------+--------+---------+------------+------+--------------+
only showing top 20 rows